/*

<STYLE> body {font-family: arial, sans-serif; font-size: 9pt;} table{ border-collapse: collapse; } td, th{ border: 1px solid #CCCCCC; font-family: arial, sans-serif; font-size: 9pt; } tr.top { background-color: #EAFDFF; } </STYLE>

<STYLE> body {font-family: arial, sans-serif; font-size: 9pt;} table{ border-collapse: collapse; } td, th{ border: 1px solid #CCCCCC; font-family: arial, sans-serif; font-size: 9pt; } tr.top { background-color: #EAFDFF; } </STYLE>

*/

body
{
font-family: arial, sans-serif;
font-size: 9pt
}

table
{
border-collapse: collapse;
}
td, th
{
border: 1px solid #CCCCCC;
font-family: arial, sans-serif;
font-size: 9pt;
}

tr.top
{
background-color: #EAFDFF;
}


h1
{
align:center;
}

h2
{
align:right;
}
